@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome Page</h1>
    <p>Manage my <a asp-controller="CourseManagementSystem" asp-action="GetAllCourses">courses</a> or <a asp-controller="CourseManagementSystem" asp-action="GetAddCourseRequest">add a new course</a>.</p>
   
</div>
